<footer class="section--footer">
  <div class="container container--content">
    <div>
      <p>Hand-crafted by <a href="{{ site.baseurl }}about/">Abhishek Patil</a></p>
    </div>
    <ul class="socialAccountList">
      <li><a href="" class="socialAccount socialAccount--linkedin" target="_blank"></a></li>
      <li><a href="http://github.com/{{ site.author.github }}" class="socialAccount socialAccount--github" target="_blank"></a></li>
      <li><a href="mailto:patilnabhi@gmail.com" class="socialAccount socialAccount--resume" target="_blank"></a></li>
    </ul>
    <div>
      © 2015 All Rights Reserved. Powered by the Mickey theme
    </div>
  </div>
</footer>
