<section class="section--subscribe">
  <div class="container container--content">
    <h3 class="u-alignCenter">Stay in touch</h3>
    <p>
      Hi, I'm <a href="{{ site.baseurl }}about/">Abhishek Patil</a>. I am currently pursuing a Masters of Science in Robotics (MSR) at Northwestern Univeristy (NU). Actively seeking internship for a robotics role. This portfolio showcases projects I have worked on in my career. You can find out more about me <a href="{{ site.baseurl }}about/">here</a>. 
    </p>
    <hr/>
  </div>
</section>
