<section class="section--subscribe">
  <div class="container container--content">
    <h3 class="u-alignCenter">Quick Intro</h3>
    <p>
      Hi, I'm Abhishek Patil. I am currently pursuing a Masters of Science in Robotics (MSR) at Northwestern Univeristy (NU). Actively seeking internship for a robotics role. This portfolio showcases projects I have worked on in my career. You can find out more about me <a href="http://www.mccormick.northwestern.edu/robotics/meet-students/profiles-2015-2016/patil-abhishek.html">here</a>. 
    </p>
    <hr/>
  </div>
</section>
